<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Contact me</h3>
                <address>
                    +55 32 9 9990-9393
                    <br/>
                    <a href="mailto:{{ email_contact }}"
                       class="text-light">{{ email_contact }}</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Vitor Campos. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>